header {
    background-color: #4CAF50;
    color: white;
    padding: 10px;
    text-align: center;
}

.introduccion {
    padding: 20px;
    text-align: center;
}

.boton {
    background-color: #4CAF50;
    color:white;
    padding: 10px 20px;
    display: inline-block;
    margin-top: 10px;
    border-radius:20px;
}

.caracteristicas {
    display: flex;
    font-family:sans-serif ;
    justify-content: center;
    justify-content: space-around;
    padding-top: 50px;
}

.caracteristica1 {
    font-size:30px;
}

.imagentodaepica {
    width: 550px;
    height: auto;
}

.fondo {
    background-color: #0000006b;
    border-radius:40px;
    padding: 30px;
}

.caracteristica2 {
    font-size: 30px;
}